html
	head
		title Logowanie
	body
		form(action="http://localhost:3000/userpanel")
			p Login
				input(type="text", name="username" required)
			p Haslo
				input(type="password", name="password" required)
			input(type="submit", value="Zaloguj")
